* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Add icon to the html*/

body {
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: wrap;
    
    
    width: 500px;
    height: 500px;
}

.child-container {
    border: 1px solid;
}